.carrousel{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90vw;
}

.mainImg{
    border-radius: 25px;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
    

.arrowLeft{
    position: absolute;
    left: 20px;
    width: 79px;
    height: 180px;
    color: white;
    cursor: pointer;
} 
.arrowRight{
    position: absolute;
    right: 20px;
    width: 79px;
    height: 180px;
    color: white;
    cursor: pointer;
}
.counter{
    position: absolute;
    bottom: 6%;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

@media screen and (min-width : 993px) and (max-width: 1220px){
    
     
    .arrowLeft{
        position: absolute;
        left: 6px;
        width: 45px;
        height: 90px;
    } 
    .arrowRight{
        position: absolute;
        right: 6px;
        width: 45px;
        height: 90px;
    }
    .counter{
        position: absolute;
        bottom: 5%;
        font-size: 12px;
    }
} 


@media screen and (min-width: 769px) and (max-width: 992px){
        
    .mainImg{
        border-radius: 10px;
    }
     
    .arrowLeft{
        position: absolute;
        left: 6px;
        width: 45px;
        height: 90px;
    } 
    .arrowRight{
        position: absolute;
        right: 6px;
        width: 45px;
        height: 90px;
    }
    .counter{
        position: absolute;
        bottom: 5%;
        font-size: 12px;
    }
} 

@media screen and (min-width: 376px) and (max-width: 768px){
    
    .mainImg{
        border-radius: 10px;
    }
     
    .arrowLeft{
        position: absolute;
        left: 6px;
        width: 45px;
        height: 90px;
    } 
    .arrowRight{
        position: absolute;
        right: 6px;
        width: 45px;
        height: 90px;
    }
    .counter{
        position: absolute;
        bottom: 5%;
        font-size: 12px;
    }
} 



@media only screen and (max-width: 375px){
    
    .mainImg{
        border-radius: 10px;
        height: 255px;
    }
     
    .arrowLeft{
        position: absolute;
        left: 6px;
        width: 45px;
        height: 90px;
    } 
    .arrowRight{
        position: absolute;
        right: 6px;
        width: 45px;
        height: 90px;
    }
    .counter{
        position: absolute;
        bottom: 5%;
        font-size: 12px;
    }
} 