.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 68px;
    margin: 4rem 0;
}

.logo{
    width: 75%;
}


@media screen and (min-width : 993px) and (max-width: 1220px){
    .header{
        width: 90vw;
        height: 47px;
    }
    
    .logo{
        width: 50%;
    }

} 


@media screen and (min-width: 769px) and (max-width: 992px){
    .header{
        width: 90vw;
        margin: 2rem 0;
    }
    
    .logo{
        width: 50%;
    }

} 

@media screen and (min-width: 376px) and (max-width: 768px){
    .header{
        width: 90vw;
        margin: 2rem 0;
    }
    
    .logo{
        width: 50%;
    }

    .logo img{
        width: 145px;
    }
} 

@media screen and (max-width: 375px){
    .header{
        width: 90vw;
        margin: 2rem 0;
    }
    
    .logo{
        width: 50%;
    }

    .logo img{
        width: 145px;
    }
} 

