.nav-active {
    text-decoration-line: underline;
    color: #FF6060;
}

.navigation{
    width: 25%;
}

a{
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    padding: 10px;
    color:#FF6060; 
}


@media only screen and (max-width: 375px){
    
    .navigation{
        width: 140px;
    }
    
    a{
        font-size: 12px;
    }
    
    ul{
        justify-content: flex-end;
    }
    
}
 
