.tag {
    background-color: #ff6060;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    min-width: 115px;
    padding: 5px 15px;
    text-align: center;
}

@media only screen and (max-width: 375px){
    .tag {
        border-radius: 5px;
        font-size: 10px;
        margin-right: 10px;
        min-width: 84px;
        height: 20px;
        margin-bottom: 5px;
    }
}