.appartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width:90vw;
}

.appartHeader{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    width: 100%;
}

.appartInfo{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.appartTitle {
    font-size: 36px;
    font-weight: 500;
}

.location{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.hebergerInfo{
    align-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.heberger{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.heberger span{
    font-size: 18px;
    font-weight: 500;
    /* width: 50%; */
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-right: 1rem
}
.heberger img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.stars{
    display: flex;
    flex-flow: row nowrap;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.descriptionSection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}

.descriptionSection>.dropdown {
    width: 50%;
}

.descriptionSection>.dropdown>.dropdownHeader {
    width: 100%;
    font-size: 18px;
}
.descriptionSection>.dropdown>.dropdownHeader>.dropdownTitle {
    font-size: 18px;
}
.descriptionSection>.dropdown>.dropdownText {
    width: 100%;
    font-size: 18px;
}

.equipmentsList{
    font-size: 18px;
    line-height: 5px;
    display: list-item;
    list-style: none;
}



@media screen and (min-width : 993px) and (max-width: 1220px){
    .appartTitle {
        font-size: 30px;
    }
    
} 


@media screen and (min-width: 769px) and (max-width: 992px){
    .appartHeader{
        margin-top: 15px;
        flex-flow: column nowrap;
    }
    .appartTitle {
        font-size: 18px;
    }
    
    .location{
        font-size: 14px;
    }
    
    .hebergerInfo{
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        width: 100%;
    }
    .heberger{
        width: 50%;
    }
    .heberger span{
        font-size: 14px;
    }
    
    .stars{
        font-size: 1.6rem;
    }
    
    .descriptionSection {
        align-items: center;
        flex-flow: column;
        gap: 0;
    }
    
    .descriptionSection>.dropdown {
        width: 100%;
    }
    
    .descriptionSection>.dropdown>.dropdownHeader {
        font-size: 12px;
    }
    .descriptionSection>.dropdown>.dropdownHeader>.dropdownTitle {
        font-size: 12px;
    }
    .descriptionSection>.dropdown>.dropdownText {
        font-size: 12px;
    }
    .equipmentsList{
        font-size: 12px;
        line-height: 0px;
    }
} 

@media screen and (min-width: 376px) and (max-width: 768px){
    .appartHeader{
        margin-top: 15px;
        flex-flow: column nowrap;
    }
    .appartTitle {
        font-size: 18px;
    }
    
    .location{
        font-size: 14px;
    }
    
    .hebergerInfo{
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        width: 100%;
    }
    .heberger{
        width: 50%;
    }
    .heberger span{
        font-size: 14px;
    }
    
    .stars{
        font-size: 1.6rem;
    }
    
    .descriptionSection {
        align-items: center;
        flex-flow: column;
        gap: 0;
    }
    
    .descriptionSection>.dropdown {
        width: 100%;
    }
    
    .descriptionSection>.dropdown>.dropdownHeader {
        font-size: 12px;
    }
    .descriptionSection>.dropdown>.dropdownHeader>.dropdownTitle {
        font-size: 12px;
    }
    .descriptionSection>.dropdown>.dropdownText {
        font-size: 12px;
    }
    .equipmentsList{
        font-size: 12px;
        line-height: 0px;
    }
} 

@media only screen and (max-width: 375px){
        
    .appartHeader{
        margin-top: 15px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    
    .appartTitle {
        font-size: 18px;
    }
    
    .location{
        font-size: 14px;
    }
    
    .hebergerInfo{
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        width: 100%;
    }
    
    .heberger{
        width: 50%;
    }
    .heberger span{
        font-size: 12px;
    }
    
    .stars{
        font-size: 1.6rem;
    }
        
    .descriptionSection {
        align-items: center;
        flex-flow: column;
        gap: 0;
    }
    
    .descriptionSection>.dropdown {
        width: 100%;
    }
    
    .descriptionSection>.dropdown>.dropdownHeader {
        font-size: 12px;
    }
    .descriptionSection>.dropdown>.dropdownHeader>.dropdownTitle {
        font-size: 12px;
    }
    .descriptionSection>.dropdown>.dropdownText {
        font-size: 12px;
    }
    .equipmentsList{
        font-size: 12px;
        line-height: 0px;
    }
}