.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 1024px;
}

h1{
    font-size: 288px;
    font-weight: 700;
}

.error p{
    font-size: 36px;
    font-weight: 500;
    margin: 30px 0 0 0;
}

 .error a{
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
    color: #FF6060;
  margin-top: 150px;
}

@media only screen and (max-width: 375px){
    .error{
        width: 375px;
        height: 812px;
        text-align: center;
    }
    
    h1{
        font-size: 96px;
        font-weight: 700;
        width: 198px;
        margin-top: 262px;
    }
    
    .error p{
        font-size: 18px;
        font-weight: 500;
        margin: 30px 0 0 0;
        width: 260px;
    }
    
     .error a{
        font-weight: 500;
        font-size: 14px;
      margin-bottom: 235px;
    }
    
}